@if (this.game()) {
  <div class="min-h-screen p-6 bg-body-primary">

    <!-- HEADER -->
    <div class="max-w-7xl mx-auto mb-6 flex flex-col md:flex-row md:items-center md:justify-between gap-4">

      <div>
        <h1 class="text-3xl font-bold text-primary-light">
          <span> 🎮 </span>
          <span>{{'manager.panel' | translate}}</span>
        </h1>
        <p class="text-light-secondary">{{'manager.name' | translate}}: <span class="capitalize">{{this.game()?.roomName}}</span></p>
      </div>

      <div class="flex gap-2 text-sm flex-col md:flex-row items-center justify-center">

        <div class="px-4 py-2 rounded-lg border-dark-light bg-dark-light w-2/4 md:self-stretch">
          <div class="items-center justify-center flex gap-2 w-full h-full">
            <span>{{'manager.round' | translate}}: </span>
            <span class="text-round font-semibold">{{this.game()!.round}}</span>
          </div>

        </div>

        <div class="px-4 py-2 rounded-lg border-dark-light bg-dark-light w-2/4 md:self-stretchself-stretch">
          <div class="items-center justify-center flex gap-2 w-full h-full">
            <span>{{'manager.category' | translate}}: </span>
            @if (this.game()!.category) {
              <span class="text-category font-semibold">{{this.titleCategoryGame()}}</span>
            }
          </div>
        </div>

        <div class="px-4 py-2 rounded-lg border-dark-light bg-dark-light w-2/4 md:self-stretch">
          <div class="items-center justify-center flex gap-2 w-full h-full">
            <span>{{'manager.word' | translate}}: </span>
            @if (this.game()!.word) {
              <span class="text-primary-light font-semibold">{{this.game()!.word}}</span>
            }
          </div>
        </div>

      </div>

    </div>


    <!-- GRID PRINCIPAL -->
    <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-3 gap-6">

      <!-- JUGADORES -->
      <div class="rounded-2xl p-6 border-dark-light bg-dark">

        <h2 class="text-xl font-semibold mb-4 text-primary-light">
          <span> 👥 </span>
          <span>{{'manager.players' | translate}}</span>
        </h2>

        <div class="space-y-3">

          @for (player of this.game()!.players; track player.id) {
            <div class="flex justify-between items-center p-3 rounded-lg bg-dark-light border-dark-light">
              <div class="flex items-center gap-3">
                @if (player.avatarImg) {
                  <p-avatar [image]="player.id | playerImage" size="normal" shape="circle" class="shadow-md/30"/>
                }@else {
                  <p-avatar icon="pi pi-user" size="normal" shape="circle" class="shadow-md/30"/>
                }
                <span class="capitalize">{{player.name}}</span>
              </div>

              @if(!player.host){
                <s-confirm-button
                  [title]="'common.ban'"
                  [icon]="''"
                  [styles]="'btn-ban'"
                  [toastHeader]="'common.ban-player'"
                  [toastMessage]="'common.ban-player-confirm'"
                  [toastAcceptLabel]="'common.ban'"
                  (acceptBtn)="this.banPlayer(player.id)" />
              }
            </div>
          }

        </div>

      </div>


      <!-- AJUSTES EN LA RONDA -->
      <div class="rounded-2xl p-6 border-dark-light bg-dark">

        <h2 class="text-xl font-semibold mb-4 text-primary-light">
          <span> 🎮 </span>
          <span>{{'manager.round' | translate}}</span>
        </h2>

        <div class="flex flex-col gap-4">

          <p-button class="btn-manager"
            [disabled]="!this.game()!.gameStarted"
            (click)="this.clickNextRound()">
            <span> 🔄 </span>
            <span>{{'manager.buttons.next-round' | translate}}</span>
          </p-button>

          <p-button class="btn-manager"
            [disabled]="!this.game()!.gameStarted"
            (click)="this.clickChangeWord()">
            <span> 🔃 </span>
            <span>{{'manager.buttons.change-word' | translate}}</span>
          </p-button>

          <p-button class="btn-manager"
            (click)="openChangeCategory()">
            <span> 🔃 </span>
            <span>{{'manager.buttons.change-category' | translate}}</span>
          </p-button>

        </div>

      </div>


      <!-- AJUSTES DE LA PARTIDA -->
      <div class="rounded-2xl p-6 border-dark-light bg-dark">

        <h2 class="text-xl font-semibold mb-4 text-primary-light">
          <span> 🎮 </span>
          <span>{{'manager.game' | translate}}</span>
        </h2>

        <div class="flex flex-col gap-4">

          <p-button class="btn-manager btn-manager-green"
            [disabled]="this.game()!.gameStarted || (this.game()!.roomPlayersJoined < this.game()!.roomPlayers)"
            (click)="this.startGame()">
            <span> ▶ </span>
            <span>{{'manager.buttons.start-game' | translate}}</span>
          </p-button>

          <p-button class="btn-manager btn-manager-red"
            [disabled]="!this.game()!.gameStarted"
            (click)="this.endGame()">
            <span> ⏸️ </span>
            <span>{{'manager.buttons.end-game' | translate}}</span>
          </p-button>

          <s-confirm-button
              [title]="'common.close-game'"
              [icon]="'⛔'"
              [styles]="'btn-close-game'"
              [toastHeader]="'common.close-game'"
              [toastMessage]="'common.close-game-confirm'"
              [toastAcceptLabel]="'common.close-game'"
              (acceptBtn)="this.closeGame()" />

        </div>

      </div>

    </div>


    <!-- <div class="max-w-7xl mx-auto mt-6 bg-slate-900/70 backdrop-blur border border-slate-700 rounded-2xl p-6">
      <h2 class="text-xl font-semibold mb-4 text-primary-light">
        <span> 📝 </span>
        <span>{{'manager.events' | translate}}</span>
      </h2>
      <div class="space-y-2 text-sm text-slate-300 max-h-48 overflow-y-auto">
        <p>[10:03] Ana se unió</p>
        <p>[10:04] Luis se unió</p>
        <p>[10:05] Marta se unió</p>
        <p>[10:06] Juan creó la partida</p>
      </div>
    </div> -->

  </div>

  <s-closed-game-transition/>


  <p-dialog [header]="(this.customWordRound) ? ('manager.buttons.change-word-round' | translate) : ('manager.buttons.change-word' | translate)" [(visible)]="visibleChangeWord" [modal]="true" (onHide)="visibleChangeWord = false">
    <div class="w-full">
      <input class="w-full mt-1 custom-input"
          type="text" [(ngModel)]="this.customWord">
    </div>
    <div class="flex flex-col gap-3 items-center justify-center mt-5">
        <p-button class="form-btn w-3/4"
          (click)="(this.customWordRound) ? nextRound(this.customWord()) : changeWord(this.customWord())">
          <span>{{'common.save' | translate}}</span>
        </p-button>
        <p-button class="form-btn w-3/4"
          (click)="(this.customWordRound) ? nextRound(null) : changeWord(null)">
          <span>{{'common.random' | translate}}</span>
        </p-button>
    </div>
  </p-dialog>

  <p-dialog header="{{'manager.buttons.change-category' | translate}}" class="custom-dialog" [(visible)]="visible" [modal]="true" (onHide)="visible = false">
    <div class="w-full">
      <select class="custom-picker w-full mt-2"
        (change)="this.clickCategory($event)">
        @for (category of gameCategories(); track category.value) {
          <option [value]="category.value">{{category.label | translate }}</option>
        }
      </select>
    </div>
    <div class="flex items-center justify-center mt-5">
      <p-button class="form-btn w-3/4"
        (click)="changeCategory()">
        <span>{{'common.save' | translate}}</span>
      </p-button>
    </div>
  </p-dialog>
}
