
p-button.form-btn {
  button {
    @apply w-full!

    border-0!
    active:scale-95!
    transition-all!
    text-white!
    py-3!
    font-semibold
    rounded-xl!
    shadow-sm!;

    /* COLOR */
    @apply
    bg-purple-600!
    hover:bg-purple-500!
    shadow-purple-600/30!;

  }

  button[data-p-disabled="true"] {
    @apply bg-purple-800/80! active:scale-100!
  }
}

p-button.home-btn, p-button.btn-primary {
  button {
    /* ESTILOS BTN */
    @apply w-full!
    border-0!
    active:scale-95!
    transition-all!
    text-white!
    px-10
    py-4
    rounded-xl!
    shadow-sm!;

    /* COLOR */
    @apply bg-purple-500!
    hover:bg-purple-600!
    shadow-purple-600/30!;
  }

}

p-button.btn-secondary {
  button {
    @apply bg-gray-800! hover:bg-gray-700! shadow-gray-600/30!
  }

  button[data-p-disabled="true"] {
    @apply bg-gray-800/80! active:scale-100!
  }
}

p-button.btn-manager {
  button {
    @apply w-full!

    border-0!
    active:scale-95!
    transition-all!
    text-white!
    py-3!
    rounded-xl!
    shadow-sm!
    font-semibold;

    /* COLOR */
    @apply
    bg-blue-600!
    hover:bg-blue-500!
    shadow-blue-600/30!;
  }

  button[data-p-disabled="true"] {
    @apply bg-blue-800/80! active:scale-100!
  }

  &.btn-manager-green {
    button {
      @apply
    bg-green-600!
    hover:bg-green-500!
      shadow-green-600/30!;
    }


    button[data-p-disabled="true"] {
      @apply bg-green-800/80! active:scale-100!
    }
  }

  &.btn-manager-red {
    button {
      @apply
    bg-red-600!
    hover:bg-red-500!
    shadow-red-600/30!;
    }
    button[data-p-disabled="true"] {
      @apply bg-red-800/80! active:scale-100!
    }
  }
}

p-button.home-btn-xl{
  button {
    @apply px-10 md:px-20! py-4 md:py-8! md:text-xl! w-full
  }
}

p-button.btn {
  button {
    @apply w-full border-0! text-white! bg-purple-600!  py-3! rounded-xl! font-semibold! transition! active:scale-95! hover:hover:bg-purple-500!;
  }
}

p-button.btn-ban {
  button {
    @apply text-red-400  text-sm bg-transparent! border-0!  hover:text-red-300!;
  }
}

p-button.btn-close-game {
  button {
    @apply w-full border-0! text-white! bg-red-600!  py-3! rounded-xl! font-semibold! transition! active:scale-95! hover:bg-red-500!;
  }
}


div.btn-exit.p-dialog {
  @apply w-3/6 bg-white/5 backdrop-blur-xl border border-white/10 rounded-2xl shadow-2xl p-8;
}

button.btn-exit {
  @apply w-full!
  border-0!
  active:scale-95!
  transition-all!
  text-white!
  font-bold!
  px-10
  py-4
  rounded-xl!
  shadow-sm!;

  /* COLOR */
  @apply bg-purple-500!
  hover:bg-purple-600!
  shadow-purple-600/30!;
}


button.btn-exit-secondary {
  @apply bg-gray-800! hover:bg-gray-700! shadow-gray-600/30!
}

