
<div class="min-h-screen flex items-center justify-center p-6 bg-body-primary">

  <div class="w-full max-w-xl rounded-3xl shadow-2xl p-8 bg-card-secondary border-primary">

    <!-- Header -->
    <div class="flex items-center justify-between mb-8">

      <h2 class="text-2xl md:text-4xl font-extrabold text-primary-light tracking-wide">
        <span> ⚙️ </span><span>{{'settings.title' | translate}}</span>
      </h2>

      <button type="button" class="text-slate-400 hover-text-light  transition text-2xl active:scale-90" (click)="closeSettings()">
        <span> ✕ </span>
      </button>

    </div>

    <form class="space-y-6">
      <div>
        <label class="text-primary-light text-sm">
          <span> 🌍 </span><span>{{'settings.language' | translate }}</span>
        </label>

        <select class="custom-picker w-full mt-2 "
          [formField]="this.settingsForm.language">
          @for (lng of supportedLanguages(); track lng.label) {
            <option [value]="lng.value">{{lng.label | translate }}</option>
          }
        </select>
      </div>

      @if (this.game() && this.game()?.overlay) {
        <div>
          <label class="text-primary-light text-sm">
            <span> 📺 </span><span>{{'settings.overlay' | translate }}</span>
          </label>

          <select class="custom-picker w-full mt-2"
            [formField]="this.settingsForm.overlayPosition">
            @for (position of overlayPositions(); track position.code) {
              <option [value]="position.code">{{position.name | translate }}</option>
            }
          </select>
        </div>
      }

      <!-- Botones -->
      <div class="grid grid-cols-2 gap-4 pt-4">

        <p-button class="form-btn btn-secondary" [disabled]="!this.settingsForm().dirty()"
          (click)="resetSettings()" >
          <span>{{'settings.reset' | translate }}</span>
        </p-button>

        <p-button class="form-btn" [disabled]="this.settingsForm().invalid()"
          (click)="saveSettings()">
          <span>{{'settings.save' | translate }}</span>
        </p-button>

      </div>
    </form>
  </div>
</div>
