<div class="fixed inset-0 flex items-center justify-center bg-black/70 backdrop-blur-sm transition-opacity duration-300"
  [class.opacity-0]="!isOpen()"
  [class.opacity-100]="isOpen()"
  [ngClass]="{'z-50': isOpen(), '-z-10' : !isOpen()}">

  <!-- Modal -->
  <div class="w-full max-w-md bg-slate-900 border border-purple-500/20 rounded-2xl shadow-2xl p-6 transform transition-all duration-300"
    [class.opacity-0]="!isOpen()"
    [class.opacity-100]="isOpen()"
    [class.scale-90]="!isOpen()"
    [class.scale-100]="isOpen()"
    [class.translate-y-4]="!isOpen()"
    [class.translate-y-0]="isOpen()">

    <!-- Header -->
    <div class="text-center mb-8">
      <h1 class="text-4xl font-extrabold text-purple-400 tracking-wider">
        <span> 👤 </span><span>{{'create-login-game.create-player-title' | translate }}</span>
      </h1>

      <p class="text-slate-400 mt-2">{{'create-login-game.create-player-subtitle' | translate }}</p>
    </div>

    <form class="space-y-6">

      <!-- Avatar -->
      <div class="flex flex-col items-center gap-3">

        <div class="w-24 h-24 rounded-full bg-slate-800 border border-slate-700 flex items-center justify-center overflow-hidden">

          @if (playerImage()) {
            <img [src]="playerImage()" class="w-full h-full object-cover"/>
          }@else {
            <span class="text-slate-500 text-sm">{{'common.no-image' | translate }}</span>
          }
        </div>

        <!-- Input file -->
        <label class="cursor-pointer text-sm text-purple-400 hover:text-purple-300 transition">
          <span>{{'common.upload-image' | translate }}</span>
          <input type="file" accept="image/*" (change)="onFileSelected($event)" class="hidden">
        </label>

      </div>

      <!-- Nombre -->
      <div>
        <label class="text-sm text-purple-300">{{'create-login-game.player-name' | translate }}</label>

        <input class="w-full mt-2 px-4 py-3 rounded-xl bg-slate-800 border border-slate-700 text-white focus:outline-none focus:ring-2 focus:ring-purple-500"
          type="text" [formField]="playerForm.name">

      </div>

      <!-- Botones -->
      <div class="flex gap-4 pt-4 items-center justify-center">

        <p-button class="form-btn btn-secondary w-full"
          (click)="closeModal()">
          <span>{{'common.cancel' | translate }}</span>
        </p-button>


        <p-button class="form-btn w-full"
          [disabled]="playerForm().invalid()"
          (click)="sendNewPlayer()">
          <span>{{'common.continue' | translate }}</span>
        </p-button>

      </div>

    </form>

  </div>

</div>
