<!-- eslint-disable @angular-eslint/template/prefer-ngsrc -->
<div class="fixed inset-0 flex items-center justify-center backdrop-blur-sm transition-opacity duration-300 bg-primary-blur"
  [class.opacity-0]="!isOpen()"
  [class.opacity-100]="isOpen()"
  [ngClass]="{'z-50': isOpen(), '-z-10' : !isOpen()}">

  <!-- Modal -->
  <div class="w-full max-w-md rounded-2xl shadow-2xl p-6 transform transition-all duration-300 bg-card-secondary border-primary"
    [class.opacity-0]="!isOpen()"
    [class.opacity-100]="isOpen()"
    [class.scale-90]="!isOpen()"
    [class.scale-100]="isOpen()"
    [class.translate-y-4]="!isOpen()"
    [class.translate-y-0]="isOpen()">

    <!-- Header -->
    <div class="text-center mb-8">
      <h1 class="text-4xl font-extrabold text-primary-light tracking-wider">
        <span> 👤 </span><span>{{'create-login-game.create-player-title' | translate }}</span>
      </h1>

      <p class="text-light-secondary mt-2">{{'create-login-game.create-player-subtitle' | translate }}</p>
    </div>

    <form class="space-y-6">

      <!-- Avatar -->
      <div class="flex flex-col items-center gap-3">

        <div class="w-24 h-24 rounded-full flex items-center justify-center overflow-hidden bg-dark-light border-dark-light">

          @if (playerImage()) {
            <img [src]="playerImage()" class="w-full h-full object-cover"/>
          }@else {
            <span class="text-light-secondary text-sm">{{'common.no-image' | translate }}</span>
          }
        </div>

        <!-- Input file -->
        <label class="cursor-pointer text-sm text-primary-light hover:text-primary-light transition">
          <span>{{'common.upload-image' | translate }}</span>
          <input type="file" accept="image/*" (change)="onFileSelected($event)" class="hidden">
        </label>

      </div>

      <!-- Nombre -->
      <div>
        <label class="text-sm text-primary-light">{{'create-login-game.player-name' | translate }}</label>

        <input class="w-full mt-2 custom-input"
          type="text" [formField]="playerForm.name">

      </div>

      <!-- Botones -->
      <div class="flex flex-col gap-4 pt-4 items-center justify-center">

        <div class="flex gap-4 items-center justify-center">
          <p-button class="form-btn btn-secondary w-full"
            (click)="closeModal()">
            <span>{{'common.cancel' | translate }}</span>
          </p-button>
          <p-button class="form-btn w-full"
            [disabled]="playerForm().invalid()"
            (click)="sendNewPlayer()">
            <span>{{'common.continue' | translate }}</span>
          </p-button>
        </div>

          <div class="items-center justify-center">
            <p-button class="form-btn w-full" (click)="sendNoPlayer()">
              @if (this.createPage()) {
                <span>{{'create-login-game.manager' | translate }}</span>
              } @else{
                <span>{{'create-login-game.watcher' | translate }}</span>
              }
            </p-button>
          </div>
      </div>
    </form>
  </div>
</div>
