<div  class="bg-body-primary">
  <!-- HERO -->

  <div class="mt-16 relative">
    <section class="text-center md:pb-10 relative">


      <s-app-title/>


      <p class="mt-6 text-light-secondary text-xl max-w-2xl mx-auto relative">{{'home.game-description' | translate }}</p>

      <div class="mt-10 flex flex-col md:flex-row justify-center gap-6 relative">

        <div class="flex items-center justify-center px-10 py-4">
          <p-button class="w-full home-btn home-btn-xl" [routerLink]="['/create']">
            <span> 🎮 </span><span class="font-semibold">{{'home.create' | translate }} </span>
          </p-button>
        </div>

        <div class="flex items-center justify-center px-10 py-4">
          <p-button class="w-full home-btn home-btn-xl btn-secondary" [routerLink]="['/join']">
            <span> 👥 </span><span class="font-semibold">{{'home.join' | translate }}</span>
          </p-button>
        </div>
      </div>

    </section>

  <!-- COMO FUNCIONA -->
  <section class="max-w-7xl mx-auto px-6 py-10">
    <h2 class="text-4xl font-bold text-center mb-6">{{'home.how-works' | translate }}</h2>

    <div class="grid md:grid-cols-3 gap-10">
      <div class=" p-8 rounded-2xl bg-dark border-dark-light hover:scale-105 transition">
        <div class="text-4xl mb-4"> 📩 </div>
        <h3 class="text-xl font-bold mb-2">{{'home.illustration-1-title' | translate }}</h3>
        <p class="text-light-secondary">{{'home.illustration-1-description' | translate }}</p>
      </div>

      <div class="p-8 rounded-2xl bg-dark border-dark-light hover:scale-105 transition">
        <div class="text-4xl mb-4"> 💬 </div>
        <h3 class="text-xl font-bold mb-2">{{'home.illustration-2-title' | translate }}</h3>
        <p class="text-light-secondary">{{'home.illustration-2-description' | translate }}</p>
      </div>

      <div class="p-8 rounded-2xl bg-dark border-dark-light hover:scale-105 transition">
        <div class="text-4xl mb-4"> 🕵️ </div>
        <h3 class="text-xl font-bold mb-2">{{'home.illustration-3-title' | translate }}</h3>
        <p class="text-light-secondary">{{'home.illustration-3-description' | translate }}</p>
      </div>
    </div>
  </section>

  <section class="max-w-7xl mx-auto px-6 py-10">
    <h2 class="text-4xl font-bold text-center mb-6">{{'home.solutions' | translate }}</h2>

    <div class="grid md:grid-cols-2 gap-10">
      <div class="p-8 rounded-2xl bg-dark border-dark-light hover:scale-105 transition">
        <div class="text-4xl mb-4 flex gap-3"> 🎥 </div>
        <h3 class="text-xl font-bold mb-2">{{'home.illustration-4-title' | translate }}</h3>
        <p class="text-light-secondary">{{'home.illustration-4-description' | translate }}</p>
      </div>

      <div class="p-8 rounded-2xl bg-dark border-dark-light hover:scale-105 transition">
        <div class="text-4xl mb-4"> 📱 </div>
        <h3 class="text-xl font-bold mb-2">{{'home.illustration-5-title' | translate }}</h3>
        <p class="text-light-secondary">{{'home.illustration-5-description' | translate }}</p>
      </div>
    </div>
  </section>



  <!-- SECCION VIRAL -->
  <section class="py-24">
    <div class="max-w-4xl mx-auto text-center px-6">
      <h2 class="text-4xl font-bold mb-6">{{'home.slogan-1' | translate }}</h2>

      <p class="text-light-secondary text-lg mb-10"><span>{{'home.slogan-2' | translate }}</span><span> 😈 </span></p>

      <div class="flex items-center justify-center px-10 py-4">
        <p-button class="home-btn" [routerLink]="['/join']">
          <span> 🚀 </span><span class="font-semibold">{{'home.start-now' | translate }}</span>
        </p-button>
      </div>

    </div>
  </section>

  <!-- FOOTER -->
  <footer class="bg-dark text-light-secondary py-6">
    <div class="max-w-6xl mx-auto px-4 flex flex-col md:flex-row items-center justify-between">

      <!-- Nombre / info -->
      <div class="text-center md:text-left mb-4 md:mb-0">
        <h2 class="text-lg font-semibold text-light">{{'about-me.name' | translate }}</h2>
        <p class="text-sm text-light-secondary">{{'about-me.contact' | translate }}:</p>
      </div>

      <!-- Redes sociales -->
      <div class="flex space-x-6">
        <a [href]="this.environment.URL_GMAIL" class="hover-text-light transition"><i class="pi pi-envelope text-3xl!"></i></a>
        <a [href]="this.environment.URL_LINKEDIN" target="_blank" class="hover-text-light transition "><i class="pi pi-linkedin text-3xl!"></i></a>
        <a [href]="this.environment.URL_GITHUB" target="_blank" class="hover-text-light transition"><i class="pi pi-github text-3xl!"></i></a>
        <a [href]="this.environment.URL_DISCORD" target="_blank" class="hover-text-light transition"><i class="pi pi-discord text-3xl!"></i></a>
      </div>

      <!-- Línea inferior -->
      <div class="text-center text-xs text-light-secondary mt-4">{{'about-me.copyright' | translate }}</div>
    </div>
  </footer>
</div>
