<div
  class="min-h-screen flex items-center justify-center p-6 bg-body-primary">

  <div class="w-full max-w-lg rounded-3xl shadow-2xl p-8 bg-card-secondary border-primary">

    <!-- Header -->
    <div class="text-center mb-8">
      <h1 class="text-3xl md:text-4xl font-extrabold text-primary-light tracking-wider">
        <span> 🚀 </span><span>{{'create-login-game.create-title' | translate }}</span>
      </h1>

      <p class="text-light-secondary mt-2">{{'create-login-game.create-subtitle' | translate }}</p>
    </div>

    <form class="space-y-3">

      <!-- Nombre -->
      <div>
        <label class="text-sm text-primary-light">{{'create-login-game.room-name' | translate }}</label>

        <input class="w-full mt-1 custom-input"
          type="text"
          [formField]="this.createGameForm.roomName">
      </div>

      <!-- Constraña de la sala -->
      <div>
        <label class="text-sm text-primary-light">{{'create-login-game.room-password' | translate }}</label>

        <input class="w-full mt-1 custom-input"
          type="password"
          [formField]="this.createGameForm.roomPassword">
      </div>

      <!-- Jugadores -->
      <div>
        <label class="text-sm text-primary-light">{{'create-login-game.room-players' | translate }}</label>

        <input class="w-full mt-1 custom-input"
          type="number"
          [formField]="this.createGameForm.roomPlayers">
      </div>

      <!-- Palabras personalizadas -->
      <div>
        <label class="text-sm text-primary-light">{{'create-login-game.room-custom-words' | translate }}</label>

        <div class="px-4 py-1">
          <p-toggleswitch [formField]="this.createGameForm.customWords" />
        </div>
      </div>

      <!-- Palabras personalizadas -->
      <div>
        <label class="text-sm text-primary-light">{{'create-login-game.room-specific-category' | translate }}</label>

        <div class="px-4 py-1 flex items-center gap-4">
          <div>
            <p-toggleswitch [formField]="this.createGameForm.specificCategory" (onChange)="categoryToggle()" />
          </div>

          @if (this.createGameForm().value().specificCategory) {
            <div class="w-full">
              <select class="custom-picker w-full mt-2"
                [formField]="this.createGameForm.category">
                @for (category of gameCategories(); track category.value) {
                  <option [value]="category.value">{{category.label | translate }}</option>
                }
              </select>
            </div>
          }
        </div>
      </div>

      <!-- Impostores -->
      <div>
        <label class="text-sm text-primary-light">{{'create-login-game.room-impostor' | translate }}</label>

        <div class="px-4 py-1">
          <p-toggleswitch [formField]="this.createGameForm.multipleImpostors" />
        </div>
      </div>

      <!-- Overlay -->
      <div>
        <label class="text-sm text-primary-light">{{'create-login-game.room-overlay' | translate }}</label>

        <div class="px-4 py-1">
          <p-toggleswitch [formField]="this.createGameForm.overlay"/>
        </div>

      </div>

      <!-- Botón -->
      <div>
        <p-button class="form-btn"
          [disabled]="!this.createGameForm().valid()"
          (click)="createGame()">
          <span> 🎮 </span><span>{{'create-login-game.button-create-submit' | translate }}</span>
        </p-button>
      </div>

    </form>
  </div>
</div>

<s-user-modal
  [createPage]="true"
  (newPlayer)="createNewPlayer($event)"
  (newNoPlayer)="createNoPlayer()"
  (cancelButton)="playerCanceled()" />

