
@if(this.game()){
  <div class="flex flex-row gap-3">
    @for (player of players()!; track player.createdAt) {
      <div class="flex flex-col items-center justify-center">

        @if (player.avatarImg) {
          <p-avatar [image]="player.id| playerImage" size="xlarge" shape="circle" class="shadow-md/30"/>
        }@else {
          <p-avatar icon="pi pi-user" size="xlarge" shape="circle"/>
        }
        <span class="capitalize italic text-2xl font-bold text-border text-shadow-lg/40"
          [ngClass]="{ 'text-impostor': player.impostor }">{{player.name}}</span>
      </div>
    }
  </div>
}


