<div
  class="min-h-screen flex items-center justify-center p-6 bg-body-primary">

  <div class="w-full max-w-lg rounded-3xl shadow-2xl p-8 bg-card-secondary border-primary">

    <!-- Header -->
    <div class="text-center mb-8">
      <h1 class="text-2xl md:text-4xl font-extrabold text-primary-light tracking-wider">
        <span class="md:text-4xl"> 🎭 </span><span>{{'create-login-game.login-title' | translate }}</span>
      </h1>

      <p class="text-light-secondary mt-2">{{'create-login-game.login-subtitle' | translate }}</p>

    </div>

    <form class="space-y-3">

      <!-- Nombre -->
      <div>
        <label class="text-sm text-primary-light">{{'create-login-game.room-name' | translate }}</label>

        <input class="w-full mt-1 custom-input"
          type="text"
          [formField]="this.joinGameForm.roomName">
      </div>

      <!-- Constraña de la sala -->
      <div>
        <label class="text-sm text-primary-light">{{'create-login-game.room-password' | translate }}</label>

        <input class="w-full mt-1 custom-input"
          type="password"
          [formField]="this.joinGameForm.roomPassword">
      </div>

      <!-- Botón -->
      <div>
        <p-button class="form-btn"
          [disabled]="!this.joinGameForm().valid()"
          (click)="loginGame()">
          <span> 👥 </span><span>{{'create-login-game.button-login-submit' | translate }}</span>
        </p-button>
      </div>

    </form>
  </div>
</div>


<s-user-modal
  (newPlayer)="createNewPlayer($event)"
  (newNoPlayer)="createNewNoPlayer()"
  (cancelButton)="clearForm()" />
