<div class="flex flex-col gap-5">
  <div>
    <div class="animate-pulse flex flex-col justify-center items-center gap-3">
      <span class="text-7xl"> 🕵️ </span>
      <h2 class="text-4xl font-extrabold text-center text-no-impostor">{{'game.not-impostor' | translate}}</h2>
    </div>
    <p class="text-light-secondary text-sm text-center mt2">{{'game.listen-not-impostor' | translate}}</p>
  </div>

  @if (this.game()!.category) {
    <div class="text-center">
      <span class="text-light-secondary text-sm uppercase tracking-widest mb-2">{{'game.category' | translate}}: </span>
      <span class="text-primary-light text-xl font-semibold">{{this.game()!.category}}</span>
    </div>
  }

  <div class="text-center">
    <div class="cursor-pointer transition transform hover:scale-105" >
      @if (!this.showWord) {
        <button type="button" class="w-3/4 btn-word-primary"
          (click)="this.showWord = !this.showWord">
          <span> 👆 </span>
          <span>{{'game.touch-show-word' | translate}}</span>
        </button>
      }@else {
        <button type="button" class="w-3/4 btn-word-primary"
          (click)="this.showWord = !this.showWord">
          <span class="font-bold text-3xl">{{this.game()!.word}}</span>
        </button>
      }
    </div>
      <p class="text-light-secondary text-sm mt-6">{{'game.clue' | translate}}</p>
  </div>
</div>
