<!-- @if (this.loading()) { -->
  <div class="loader"
    [class.opacity-0]="!loading()"
    [class.opacity-100]="loading()"
    [class.pointer-events-none]="!loading()">

    <div class="loader-container"
      [class.scale-90]="!loading()"
      [class.scale-100]="loading()">

      <!-- Spinner -->
      <div class="loader-spinner-container">
        <div class="loader-spinner"></div>
        <div class="loader-spinner-mark"></div>
      </div>

      <!-- Texto -->
      <p class="loader-spinner-text">{{'loader.loading' | translate}}</p>

  </div>

</div>
